{% extends "app/layout.html" %}

{% block content %}
<h2>Авторизация</h2>
<div class="login-container">
    

    <form action="." method="post" class="form-horizontal">
        {% csrf_token %}
        <h4>Для входа в систему используйте локальную учетную запись</h4>
        <hr />

        <div class="form-group">
            <label for="id_username" class="control-label">Имя пользователя</label>
            {{ form.username }}
        </div>

        <div class="form-group">
            <label for="id_password" class="control-label">Пароль</label>
            {{ form.password }}
        </div>

        <div class="form-group">
            <input type="hidden" name="next" value="/" />
            <input type="submit" value="Войти" class="custom-btn login_button mt-3" />
        </div>

        {% if form.errors %}
        <p class="validation-summary-errors">Пожалуйста, введите правильный логин и пароль</p>
        {% endif %}
    </form>

    <div class="mt-3">
        <p>Нет аккаунта? <a href="{% url 'registration' %}">Зарегистрироваться</a></p>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {% load static %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>
{% endblock %}