@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #ecc5a0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* Белая фигура на фоне */
.figure {
    position: absolute;
    top: 106px; /* Отступ вниз после хедера */
    left: 0;
    width: 100%;
    height: 300px;
    background: #FFF0E2; /* Цвет фона */
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    padding: 20px;
    box-sizing: border-box; /* Чтобы padding не увеличивал размер блока */
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

    .figure p {
        text-align: justify; /* Выравниваем по ширине */
        max-width: calc(100% - 1240px); /* 600px отступ с каждой стороны */
        width: 100%;
        margin: auto; /* Центрируем по вертикали */
        font-size: 22px;
        line-height: 1.5;
        color: #422617;
    }

    .figure h1 {
        color: #422617;
    }

    .figure h1::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 220px;
        width: 15%;
        height: 3px;
        background-color: #422617; /* Цвет подчеркивания */
        border-radius: 5px; /* Закругленные края */
        transform: translateX(-50%); /* Центрируем */
    }


.header-color {
    background-color: #422617;
}


.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #422617;
    color: #f8dbbf; 
    text-align: center;
    padding: 15px 0;
    font-size: 17px; 
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    
}

/* стили текста */
.custom-text {
    color: #f8bf88; 
    font-weight: bold;

}
.custom-text:hover {
    color: #c08a57;
}

/* Стили для активной ссылки */
a.active {
    color: #c08a57 !important;  
}

  
/* Кнопка  */    
.custom-btn {
    color: #f8dbbf; /* Цвет текста */
    background-color: #6a4b3a; /* Цвет фона */
    border: 2px solid #f8dbbf; /* Цвет рамки */
    padding: 8px 16px; /* Внутренние отступы */
    border-radius: 8px; /* Закругление углов */
    transition: all 0.3s ease-in-out; /* Анимация */
}

    .custom-btn:hover {
        background-color: #f8dbbf; /* Меняется фон */
        color: #6a4b3a; /* Меняется цвет текста */
    }

/* Стили чтобы лого убегало */
.navbar-brand {
    position: relative;
    display: inline-block;
    transition: transform 0.2s ease; /* Плавное перемещение */
}

#logo {
    transition: transform 0.2s ease;
}

/* Анимации для страниц в хеадере */

.nav-btn {
    font-size: 17px;
    background: transparent;
    border: none;
    padding: 1em 1.5em;
    color: #f8dbbf;
    text-transform: uppercase;
    position: relative;
    transition: 0.5s ease;
    cursor: pointer;
}

    .nav-btn::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 0;
        background-color: #6a4b3a;
        transition: 0.5s ease;
    }

    .nav-btn:hover {
        color: #c08a57;
        transition-delay: 0.5s;
    }

        .nav-btn:hover::before {
            width: 100%;
        }

    .nav-btn::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 0;
        width: 100%;
        background-color: #6a4b3a;
        transition: 0.4s ease;
        z-index: -1;
    }

    .nav-btn:hover::after {
        height: 100%;
        transition-delay: 0.4s;
        color: aliceblue;
    }

 /* анимация загрузки */

#preloader {
    position: fixed;
    width: 100%;
    height: calc(100vh - 106px);
    background-color: #422617;
    top: 106px;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.4s ease-in-out;
} 

/* Скрытие прелоадера */
.hidden {
    opacity: 0;
    pointer-events: none;
}

/* Анимация прелоадера */
.wrapper {
    width: 200px;
    height: 60px;
    position: relative;
    z-index: 1;
}

.circle {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: #f8dbbf;
    left: 15%;
    transform-origin: 50%;
    animation: circle7124 .5s alternate infinite ease;
}

@keyframes circle7124 {
    0% {
        top: 60px;
        height: 5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.7);
    }

    40% {
        height: 20px;
        border-radius: 50%;
        transform: scaleX(1);
    }

    100% {
        top: 0%;
    }
}

.circle:nth-child(2) {
    left: 45%;
    animation-delay: .2s;
}

.circle:nth-child(3) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
}

.shadow {
    width: 20px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.9);
    position: absolute;
    top: 62px;
    transform-origin: 50%;
    z-index: -1;
    left: 15%;
    filter: blur(1px);
    animation: shadow046 .5s alternate infinite ease;
}

@keyframes shadow046 {
    0% {
        transform: scaleX(1.5);
    }

    40% {
        transform: scaleX(1);
        opacity: .7;
    }

    100% {
        transform: scaleX(.2);
        opacity: .4;
    }
}

.shadow:nth-child(4) {
    left: 45%;
    animation-delay: .2s;
}

.shadow:nth-child(5) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
}

                       /* Анимации для формы отзыва */


/* Общий стиль для плавных анимаций */
input, textarea {
    transition: all 0.3s ease-in-out;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

/* Анимация при фокусе */
input:focus, textarea:focus {
    background-color: #f0f8ff;
    border-color: #007BFF;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}

/* Анимация для заполненных полей */
input.filled, textarea.filled {
    border-color: #28a745;
    box-shadow: 0 0 8px rgba(40, 167, 69, 0.5);
}

/* Анимация при ошибке */
input.error, textarea.error {
    border-color: #dc3545;
    box-shadow: 0 0 8px rgba(220, 53, 69, 0.5);
    background-color: #ffe6e6;
    animation: shake 0.3s ease-in-out;
}

/* Анимация покачивания при ошибке */
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}



.feedback {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

/* Общий стиль для контейнера */
#feedback-container {
    width: 100%;
    max-width: 450px; /* Уменьшаем максимальную ширину контейнера */
    background-color: #FFF0E2; /* Светлый фон */
    padding: 20px; /* Увеличиваем отступы, чтобы форма не была слишком тесной */
    border-radius: 8px; /* Сглаженные углы */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Легкая тень */
    margin: 10px;
}

/* Заголовок формы */
h2 {
    font-size: 40px;
    color: #422617;
    text-align: center;
    margin-bottom: 0px; /* Отступ снизу */
}

/* Стили для всех инпутов */
.form-controld {
    width: 100%;
    padding: 10px; /* Уменьшаем отступы внутри полей */
    margin-bottom: 10px; /* Уменьшаем отступ снизу */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px; /* Уменьшаем размер шрифта */
    box-sizing: border-box;
    background-color: #fff;
    transition: border-color 0.3s ease;
}

    /* Стили для фокуса инпутов */
    .form-controld:focus {
        border-color: #007BFF; /* Синий цвет при фокусе */
        outline: none; /* Убираем стандартное обводку */
    }

/* Стили для радио-кнопок */
.form-radio {
    margin-right: 10px;
}

/* Стили для чекбоксов */
.form-checkbox {
    display: inline-block;
    margin: 5px 0;
}

/* Стили для textarea */
.form-textarea {
    width: 100%;
    padding: 10px; /* Уменьшаем отступы внутри textarea */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px; /* Уменьшаем размер шрифта */
    background-color: #fff;
    resize: vertical; /* Разрешаем изменение размера по вертикали */
    box-sizing: border-box;
}

input[type="radio"] {
    accent-color: #422617; /* Цвет радиокнопок при выборе  */
    cursor: pointer;
}

input[type="checkbox"] {
    accent-color: #422617; 
    cursor: pointer;
}

    /* Стили для фокуса флажков */
    input[type="checkbox"]:focus {
        outline: none;
        border-color: #0056b3; 
    }


/* Общие стили для формы */
.registration-form {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Исправлено на flex-start для лучшего выравнивания */
    flex-direction: column;
    gap: 15px; /* Добавляем отступы между элементами */
    width: 100%;
}

/* Общий стиль для контейнера формы */
#registration-container {
    width: 100%;
    max-width: 450px; /* Уменьшаем максимальную ширину контейнера */
    background-color: #FFF0E2; /* Светлый фон */
    padding: 20px; /* Отступы */
    border-radius: 8px; /* Сглаженные углы */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Легкая тень */
    margin: 30px auto; /* Увеличен верхний отступ */
}



/* Стили для всех инпутов, textarea и select */
.registration-form input,
.registration-form select,
.registration-form textarea {
    width: 100%;
    padding: 10px; /* Уменьшаем отступы внутри полей */
    margin-bottom: 12px; /* Уменьшаем отступ снизу */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
    background-color: #fff;
    transition: border-color 0.3s ease;
}

    .registration-form input:focus
     {
        border-color: #007BFF; 
        outline: none;
    }

/* Стили для кнопки отправки */
.registration-form button {
    width: 100%;
    padding: 8px 16px;
    border: 2px solid #f8dbbf;
    border-radius: 5px;
    background-color: #6a4b3a;
    color: #f8dbbf;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 15px; /* Отступ сверху для кнопки */
}

    
.registration-form button:hover {
    background-color: #f8dbbf; /* Меняется фон */
    color: #6a4b3a; /* Меняется цвет текста */
}
.alert {
    width: 100%;
}
/* Стили для ошибок формы */
.alert.alert-danger {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: 10px; /* Отступ сверху */
}

.alert ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.alert li {
    margin-bottom: 5px;
}

.login-container {
    width: 100%;
    max-width: 450px; /* Максимальная ширина формы */
    background-color: #FFF0E2; /* Светлый фон */
    padding: 20px; /* Отступы */
    border-radius: 8px; /* Скругленные углы */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Легкая тень */
    margin: 20px auto; /* Выравнивание по центру страницы */
}



/* Поля формы */
.form-group {
    margin-bottom: 15px;
    width:100%;
}

/* Метки для полей */
.control-label {
    font-weight: bold;
    font-size: 14px;
    color: #333;
}

/* Стили для инпутов */
input[type="text"], input[type="password"] {
    width: 100%;
    max-width: none;
    padding: 12px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

/* Стили для кнопки */
.login_button {
    width: 100%;
    max-width: none;
    padding: 8px 16px;
    border: 2px solid #f8dbbf;
    border-radius: 5px;
    background-color: #6a4b3a;
    color: #f8dbbf;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 15px; /* Отступ сверху для кнопки */
}


    .login-form button:hover {
        background-color: #f8dbbf; /* Меняется фон */
        color: #6a4b3a; /* Меняется цвет текста */
    }

/* Стили для ошибок */
.validation-summary-errors {
    color: #ff4d4d;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}

/* Стили для ссылки на регистрацию */
.mt-3 {
    margin-top: 20px;
    text-align: center;
}

    .mt-3 a {
        color: #71503e;
        text-decoration: none;
    }

        .mt-3 a:hover {
            text-decoration: underline;
        }



/* Блоги */

.blog-post-tile {
    background-color: #FFF0E2; /* Белый фон */
    border: 1px solid #ddd; /* Тонкая рамка */
    border-radius: 8px; /* Сглаженные углы */
    padding: 20px; /* Отступы внутри плиточки */
    margin-bottom: 20px; /* Отступ снизу, чтобы не слипались плиточки */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Легкая тень для создания эффекта карточки */
    transition: box-shadow 0.3s ease; /* Плавная анимация при наведении */
    display: flex; /* Размещаем контент в строку */
    align-items: center; /* Выравниваем по центру */
    gap: 20px; /* Расстояние между картинкой и текстом */
}

.blog-image {
    flex-shrink: 0; /* Предотвращаем сжатие картинки */
    width: 300px; /* Ширина изображения */
    height: 200px; /* Высота изображения */
    overflow: hidden; /* Обрезаем лишнее */
    border-radius: 8px; /* Закругляем углы */
}

    .blog-image img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Обрезка изображения, чтобы оно заполняло блок */
    }
    .blog-text {
        flex-grow: 1; /* Заполняем оставшееся пространство текстом */
        text-align: justify;
        max-width: 800px;
    }

.blog-post-tile:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); /* Увеличиваем тень при наведении */
}

    .blog-post-tile h3 {
        font-size: 1.5rem;
        color: #422617; /* Цвет заголовка */
    }

    .blog-post-tile h5 {
        color: #777; /* Цвет для даты */
        font-size: 0.9rem;
    }

    .blog-post-tile p {
        color: #2D1F1F; /* Цвет текста */
        font-size: 1rem;

    }

   

    .blog-post-tile a {
        text-decoration: none;
        color: #f8dbbf; /* Цвет текста */
        background-color: #6a4b3a; /* Цвет фона */
        border: 2px solid #f8dbbf; /* Цвет рамки */
        padding: 8px 16px; /* Внутренние отступы */
        border-radius: 8px; /* Закругление углов */
        transition: all 0.3s ease-in-out; /* Анимация */
        
    }

                .blog-post-tile a:hover {
                    background-color: #f8dbbf; /* Меняется фон */
                    color: #6a4b3a; /* Меняется цвет текста */
                }


/*СТили постов */

/* Основная сетка */


/* Основной контейнер с двумя блоками */
.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 20px;
    margin-top: 20px;
}

/* Стили для первого блока (текст поста) */
.div1 {
    /* Можно добавить дополнительные стили, если нужно */
}

/* Стили для второго блока, объединяющего картинку, форму и комментарии */
.div2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
        

/* Стили плитки с текстом */
.post-text-tile {
    padding: 30px;
    background-color: #FFF0E2;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Стили плитки с картинкой */
.post-image-tile {
    max-height: 500px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

/* Стили для изображения */
.post-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* Плитка с добавлением комментария */
.add-comment-tile {
    padding: 20px;
    background-color: #FFF0E2;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.add-comment-tile textarea {
    max-width: initial;
    width: 100%;
    height: 100px;
}
.add-comment-tile .custom-btn {
    margin-top: 0;
}
/* Плитка с комментариями */
.comments-tile {
    padding: 20px;
    background-color: #FFF0E2;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-height: 400px;
    overflow-y: auto;
}

/* Контейнер для комментариев */
.comments-list {
    margin-bottom: 20px;
}

/* Стили для каждого комментария */
.comment {
    margin-bottom: 20px;
}

/* Заголовок комментария */
.comment-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Кнопка отправки комментария */
.save {
    padding: 10px 20px;
    background-color: #6a4b3a;
    color: #fff;
    border: 2px solid #f8dbbf;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

    .save:hover {
        background-color: #f8dbbf;
        color: #6a4b3a;
    }


    /* СОЗДАНИЕ РЕЦЕПТА */

.form-container {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #FFF0E2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #422617;
}

.form-container input, .form-container textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff;
}

.input-wrapper input,
.input-wrapper textarea {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Чтобы padding не влиял на ширину */
}
textarea.form-control {
    height: 120px; /* Задаем высоту для textarea */
    resize: vertical; /* Позволяет изменять высоту вручную */
}
.form-submit-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .form-submit-button:hover {
        background-color: #45a049;
    }


/* ВИДЕО */

.video-container {
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
}

video {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}


/* о нас */

.tiles-container {
    position: relative; /* Ставим относительное позиционирование */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    margin-top: 400px; /* Увеличенный отступ сверху */
}
.tile {
    background: #422617;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    width: 300px; /* Фиксированная ширина */
    height: 400px;
    transition: transform 0.3s ease;
}


.tile:hover {
    transform: translateY(-10px);
}


.icon {
    width: 100px; /* Настроить размер иконки */
    height: 100px;
    margin-top: 50px; /* Отступ между иконкой и текстом */
    vertical-align: middle; /* Выравнивание иконки по центру */
}



.tile p {
    font-size: 22px;
    color: #ECC5A0;
    margin-top: 50px;
}

